*, *:after, *:before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  body {
    margin: inherit;
    padding: inherit;
  }
}

section.about {
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

section.content {
  .list--buttons {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    .item--button {
      padding: 1em 2em;
      background-color: antiquewhite;
      border: 1px solid darkgreen;
      transition: background-color 100ms ease-in-out;
      cursor: pointer;
      margin: 0.25em;

      &:hover {
        background-color: darken(antiquewhite, 10%);
      }
    }
  }
}
